
/**************************** CSS ****************************/

/*** ALL ELEMENTS ***/

*
{
	margin:0;
	padding:0;
}

html, body 
{
	height: 100%;
	scroll-behavior: smooth;
}

a
{
	text-decoration: none;
	text-decoration-color: none;
	-moz-text-decoration-style: none;
	text-decoration-style: none;
}

p
{
	font-family:Arimo;
}

em
{
	font-family:Vidaloka;
	font-style:normal;
	font-size:1.8rem;
}

.bg-form
{
	box-shadow: 0px 4px 194px rgba(0, 0, 0, 0.12);
}

input,textarea,select
{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0!important;
	border-top:0!important;
	border-left:0!important;
	border-right:0!important;
}

.vh-100 
{
	min-height:100%;
}

.vh-0 
{
    height: 0;
}

/*** COLORS ***/

.lightgrey
{
	color : #E3E3E2;
}

/*** BUTTONS ***/

.btn
{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

/*** TITLES ***/

h1,h5
{
	font-family: Vidaloka;
}

h2,h3,h4,aside
{
	font-family: Bebas Neue;
	
}

h6
{
	font-size:1.5rem;
}

/*** NAV ***/

.navbar
{
	font-family: Arimo;
}

/*** SIDEBAR ***/ 

aside li
{
	height:max-content;
}

aside
{
	font-size:1.3rem;
}

aside img
{
	width:1.3rem!important;
	margin-right: 8%;
}

.menu-user:hover
{
	color:black!important;
}

.menu-logout:hover
{
	color:white!important;
}

aside .sidebar-btn
{
	font-size:1.2rem;
}


/*** FOOTER ***/

footer h5
{
	font-family: Bebas Neue;
	font-size:1.5rem;
}

/*** HOME ***/

.img-fluid w-100
{
	z-index:0;
}

#welcome-home
{
	min-height:100%!important;
}

.img-fluid
{
	min-width:80%;
}

#welcome-book
{
	padding:10% 0 10% 0;
}

/*** ALL ARTICLES ***/

#chapters-deck h3
{
	font-size:1.4rem;
}

#chapters-deck h4
{
	font-family:Vidaloka;
}

.card-height
{
	height:3.5rem;
}

#chapters-deck .card .date 
{
	line-height:2;
}

/*** EACH ARTICLE ***/

#chapter-content p
{
	font-size:1.2rem;
}

.author
{
	font-family:Bebas Neue;
	font-size:1.5rem;
}

/*** CONTACT ***/

select
{
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none; 
	background-color: none!important;
}

select::-ms-expand 
{
	display: none;
}

select + i.fa 
{
	float: right;
	margin-top: -26px;
	margin-right: 10px;
	/* this is so when you click on the chevron, your click actually goes on the dropdown menu */
	pointer-events: none;
	/* everything after this is just to cover up the original arrow */
	/* (for browsers that don't support the syntax used above) */
	background-color: transparent;
	color:black!important;
	padding-right: 5px;
}

select option
{
	padding-right: 21px;
}

/*** ADMIN ***/

.logout
{
	font-size:2rem;
}

.logo 
{
	width:2rem;
}

header em
{
	font-size:1.5rem;
}

.last-articles
{
	font-size:1.3rem;
}

.card
{
	border-radius:0!important;
}

.card-chapter
{
	font-size:1.5rem;
}

.card-username
{
	font-size:1.4rem;
}

/*** TINYMCE ***/ 

.tiny_mce
{
	padding:1.1rem;
	font-size:1.2rem;
	font-family:Arimo;
}

/**************************** SASS ****************************/

// Your variable overrides

$theme-colors:
(
	"primary":#F00000,
	"secondary":#1C1C1A,
	"info":#F7F9FB
);

/**************************** IMPORT ****************************/

// Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";